.ticket__button {
    width: 100%;
    background-color: rgb(225, 177, 104);
    color: white;
    border: 0;
    min-height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
}